<div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <h3 id="title">Login</h3>
      <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <input id="user-name" type="text" class="materialize-input">
            <label for="user-name">Nom</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="pass-word" type="password" class="materialize-input">
            <label for="pass-word">Mot de passe</label>
          </div>
        </div>
        <button class="btn waves-effect" id="signup-btn">Let's go!</button>
      </form>
    </div>
  </div>
</div>